body{
background-color: #757575;
margin:0px;
font-family: "Avenir Next";
}
p{
	text-align: justify;
	font-weight: 300;
	font-size: 1.7vw;
	margin:0;
}
a{
	color: #ffffff;
}
h1 {
	text-align: center;
	font-weight: 200;
	margin: 0;
	font-size: 5.5vw;
}

h3 {
	text-align: center;
	font-weight: 200;
	margin: 0;
	font-size: 5vh;
}
h5{
	text-align: center;
	font-size: 2.2vh;
	font-weight: 400;
	margin-top: 8%;
}
h6{
	text-align: center;
	font-size: 2vh;
	font-weight: 400;
}
#menuContainer{
	height: 50px;
	width: 100%;
	background-color: #333333;
	position: fixed;
	margin-top: 0;
	text-align: center;
	padding-left: 14.28%;
}

.menuButton{
	
	height: 50px;
	width: 14.28%;
	float: left;
	text-align: center;
}

#hembutton {
	height: 50px;
	width: 14.28%;
	float: left;
	text-align: center;
}

.menuButton p{
	font-weight: 300;
	font-size: 18px;
}

#header{
	height: auto;
	margin: 0;
	background-color: #ffffff;
}

#header img{
	width:100%;
	height: auto;
 	margin: 0;
}

 #computer{ 
 	padding-top: 10%;
 	float:center;
 	text-align: center;
 }
#container{
	height: auto;
	width:100%;
}

#sittning{
	padding-bottom: 52%;
	height: 0;
	background-image: url("pics/sittningback.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #ffffff;
	padding-top: 3%;
}
#sittning h1{
	color: #333333;
}

#sittningv{
	text-align: center;
	background-size: 80%;
	padding-top: 3%;
	height: auto;
	width: 50%;
	float: left;
}

#sittningv img{	
	padding-right: 5%;
	padding-left: 5%;
	position: center;
	width: 90%;
	height: auto;
}
#sittningh{
	height:auto;
	width: 50%;
	float: left;
}

#sittningtext {
	padding-left: 5%;
	margin-top: 7%;
	width: 86%;
	height: auto;
}

#sittningtext p {
	text-align: center;
	color: #727272;
	font-weight: 300;
	font-size: 1.2vw;	
	font-weight: normal;

}

#biljetter {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	width: 100%;
	padding-bottom: 32.3%;
	height: 0;
	background-image: url("pics/biljettback.png");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}


#biljetter h3{
	margin-top: 50px;
	font-weight: 400;
	padding-bottom: 0;
	color: #5b5b5b;
}
#biljetter h5{

	font-weight: 400;
	padding-bottom: 0;
	color: #5b5b5b;
	font-size: 4vh;
	margin-top: 2%;
}
#biljetter p{
	text-align: center;
	color: #5b5b5b;
	font-weight: 300;
	font-size: 1.2vw;	
	font-weight: normal;
}

#biljetter a{
	font-size: 30px;
	font-weight: 300;
}

#del1{
	text-align: center;
	padding-top: 5px;
	float: left;
	width: 33.33%;
	height: 200px;
}

#del1 p{
	padding-bottom: 40px;
}

#del2 {
	text-align: center;
	padding-top: 5px;
	float:left;
	width: 33.33%;
	text-align: center;
		height: 200px;
}

#del2 p{
	padding-bottom: 23px;
}


#del3 {
	text-align: center;
	padding-top: 5px;
	float: right;
	width: 33.33%;
	height: 200px;
}

#del3 p{
	padding-bottom: 42px;
}

#ada {
	padding-top: 3%;
	width: 100%;
	padding-bottom: 60%;
	height:0;
	background-color: #52437e;
	background-image: url("pics/adaback.png");
	background-size: 100%;
	text-align: center;
}
#ada h1{
	color: #ffffff;
	font-size: 5.1vw;
}
#ada p{
	color: #ffffff;
	text-align: center;
	font-weight: 300;
	font-size: 1.3vw;	
	font-weight: normal;

}
#adav{
	padding-top: 6%;
	width:50%;
	height:100%;
	float:left;
}
#adah{
	padding-top: 5%;
	width:50%;
	float:left;
	height:100%;
}

#adah img{
	width:50%;
	height:auto;
}


#sponsors{
	padding-top: 3%;
	padding-bottom: 33%;
	height:0;
	width:100%;
	background-color: #ffffff;
	background-image: url("pics/sponsback.png");
	background-size: 100%;
}

#sponsorh {
	text-align: center;
	float: left;
	width: 50%;
	height: auto;
}

#sponsorh img {
	padding-top: 12%;
	width: 50%;
}

#sponsorv{
	text-align: center;
	float: left;
	width: 50%;
	height: auto; 
}

#sponsorv img {
	padding-top: 7%;
	width: 50%;
}

#contacts {
	padding-top: 13%;
	width:100%;
	background-color: #1D1129;
	padding-bottom: 46%;
	height:0;
	text-align: center;
	background-image: url("pics/contactback.png");
	background-size: 100%;
}
#contacts p{
	text-align: center;
	color: #ffffff;
	font-weight: 300;
	font-size: 1.2vw;	
	font-weight: normal;
}
#contacts h3{
	font-size: 1.9vw;
	font-weight: 400;
	color:white;
	text-align: center;
}
.d1{
	padding-top: 3%;
	float: left;
	width: 33%;
	height: 400px;
}
.d1 img{
	float: center;
}


#contacts h1 {
	color: #ffffff;
	font-weight: 200;
}
/** IPAD **/
@media (min-width: 500px) and (max-width: 800px) {
	
	h1 {
		font-size: 4.5em;
	}

	h3{
		font-size: 24px;
	}

	h5{
		font-size: 15px;
	}

	#container{
		height: auto;
	}

	#menuContainer{
		height: 41px;
		width: 100%;
		background-color: #333333;
		position: fixed;
		margin-top: 0;
		text-align: center;
		padding-left: 5%;
	}

	.menuButton {
		height: 50px;
		width: 20%;
		float: left;
		text-align: center;
	}

	#sittning{
		padding-bottom: 100%;
		height: 0;
		width:100%;
		background-image: url("pics/mobilback.png");
		background-repeat: no-repeat;
		background-size: 100%;
		background-color: #ffffff;
		padding-top: 3%;
	}


	#sittningv{
		text-align: center;
		padding-top: 5%;
		height: auto;
		width: 50%;
		float: left;
	}

	#sittningv img{	
		padding: 0;
		margin-top: 112px;
		position: center;
		width: 100%;
		height: auto;
	}

	#sittningtext {
		padding-left: 5%;
		margin-top: 15%;
		width: 86%;
		height: auto;
	}

	#sittningtext p {
		font-size: 1.9vw;
		color: #727272;	
	}

	#biljetter {
		margin: 0;
		padding: 0;
		background-color: #ffffff;
		width: 100%;
		padding-bottom: 32%;
		height: 0;
		background-image: url("pics/biljetter.png");
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
	}

	#biljetter a{
		font-size: 20px;
		font-weight: 300;
	}

	#del1{
		text-align: center;
		padding-top: 15px;
	}

	#del1 h3 {
		margin-top: 0px;
		font-size: 25px;
		font-weight: 300;
	}
	#del1 p{
		font-size: 1.6vw;
		font-weight:normal;
		color: #727272;
		padding-bottom: 10px;
		
	}

	#del1 a{
		margin-top: 50px;
	}

	#del2 {
		padding-top: 15px;
	}

	#del2 h3{
		margin-top: 0px;
		font-size: 25px;
		font-weight: 300;
	}
	#del2 p{
		font-size: 1.6vw;
		font-weight:normal;
		color: #727272;
		padding-bottom: 10px;
	}

	#del3 {
		text-align: center;
		padding-top: 15px;
	}

	#del3 h3{
		margin-top: 0px;
		font-size: 25px;
		font-weight: 300;
	}
	#del3 p {
		font-size: 1.6vw;
		font-weight:normal;
		color: #727272;
		padding-bottom: 25px;
	}

	#ada {
		padding-top: 3%;
		width: 100%;
		padding-bottom: 100%;
		height:0;
		background-color: #52437e;
		background-image: url("pics/mobilback.png");
		background-size: 100%;
		text-align: center;
	}

	#ada h1{
		font-size: 4.5em;
	}

	#adah img{
		padding-top: 15%;
		width:75%;
		height:auto;
	}

	#ada p {
		color: #ffffff;
		text-align: center;
		font-weight: 300;
		font-size: 1.9vw;
	}

	#sponsors{

		padding-top: 3%;
		padding-bottom: 45%;
		height:0;
		width:100%;
		background-image: url("pics/mobilback.png");
		background-color: #ffffff;
	}


	#contacts {
		padding-top: 13%;
		width:100%;
		background-color: #1D1129;
		padding-bottom: 83%;
		height:0;
		text-align: center;
	}

	#contacts h1{
		font-size: 2.6em;
	}

	#contacts p{
		display: none;
	}
	#contacts h3{
		display: none;
	}
	.d1{
		padding-top: 3%;
		float: left;
		width: 33%;
		height: auto;
	}

	#contacts h1 {
		color: #ffffff;
		font-weight: 200;
	}

	.d1 img{
		width: 90%;
		height: auto;
		float: center;
	}



}

@media (min-width:200px) and (max-width: 500px) {
	body{
		width: 100%;
	}


	#container{
		width:100%;
		height: auto;
	}

	#menuContainer{
		height: 35px;
		width: 100%;
		background-color: #333333;
		position: fixed;
		padding-left: 0;
		margin-top: 0;
	}

	#hembutton{
		display: none;
	}

	.menuButton{
		height: 50px;
		width: 25%;
		float: left;
		text-align: center;
	}

	.menuButton p{
		font-weight: 300;
		font-size: 18px;
	}

	#header{
		width: 100%;
		height: 0;
		padding-bottom: 89%;
		background-repeat: no-repeat;
		background-image: url("pics/mobilheader.png");
		background-size: 100%;
	}

	#header img{
		width: 0;
	}

	#sittning{
		padding-bottom: 271%;
		height: 0;
		width:100%;
		background-image: none;
		background-color: #ffffff;
		padding-top: 3%;
	}


	#sittning h1{
		font-size: 2.8em;
	}

	#sittningv{
		text-align: center;
		padding-top: 5%;
		height: auto;
		width: 100%;
		float: left;
	}

	#sittningv img{	
		padding-right: 5%;
		padding-left: 8%;
		position: center;
		width: 80%;
		height: auto;
	}
	#sittningh{
		height:auto;
		width: 100%;
	}

	#sittningtext {
		padding-left: 10%;
		margin-top: 15px;
		width: 80%;
		height: auto;
	}

	#sittningtext p {
		text-align: center;
		color: black;
		font-weight: 400;
		font-size: 4vw;	
	}


	#biljetter {
		margin: 0;
		padding: 0;
		background-image: none;
		background-color: #AFB5D5;
		width: 100%;
		padding-bottom: 310%;
		height: 0;
	}


	#biljetter h3{
		margin-top: 50px;
		font-size: 2.3em;
		font-weight: 300;
		padding-bottom: 0;
	}

	#biljetter a{
		font-weight: 200;
	}
	#biljetter p{
		text-align: center;
		font-weight: 400;
		font-size: 3.8vw;
	}


	#del1{

		float: left;
		width: 100%;
		height: 200px;
		padding-bottom: 100px;
	}

	#del2 {
		float:left;
		width: 100%;
		text-align: center;
		height: 200px;
		padding-bottom: 125px;
	}


	#del3 {
		float: right;
		width: 100%;
		height: 200px;
	}

	#ada {
		padding-top: 3%;
		width: 100%;
		padding-bottom: 225%;
		height:0;
		background-color: #52437E;
		background-image: none;
		background-size: 100%;
		text-align: center;
	}
	#ada h1{
		font-size: 2.8em;
		color: #ffffff;
	}
	#ada p{
		color: #ffffff;
		text-align: center;
		font-weight: 400;
		font-size: 3.8vw;

	}
	#adav{
		width:100%;
		height: auto;
		float:left;
		padding-bottom: 30px;
	}
	#adah{
		width:100%;
		float:left;
		height:100%;
	}

	#adah img{
		width:60%;
		height:auto;
	}

	#sponsors{
	padding-top: 3%;
	padding-bottom: 50%;
	height:0;
	width:100%;
	background-color: #ffffff;
	background-image: none;
	background-size: 100%;
	}

	#sponsors h1{
		font-size: 2.8em;
	}

	#sponsorh {
		text-align: center;
		float: left;
		width: 50%;
		height: auto;
	}

	#sponsorh img {
		padding-top: 12%;
		width: 50%;
	}

	#sponsorv{
		text-align: center;
		float: left;
		width: 50%;
		height: auto; 
	}

	#sponsorv img {
		padding-top: 7%;
		width: 50%;
	}

	#contacts {
		padding-top: 3%;
		width:100%;
		background-image: none;
		background-color: #1D1129;
		padding-bottom: 58%;
		height:0;
		text-align: center;
	}

	#contacts h1{
		font-size: 2.8em;
	}

	#contacts p{
		display: none;
	}
	#contacts h3{
		display: none;
	}
	.d1{
		padding-top: 3%;
		float: left;
		width: 33%;
		height: auto;
	}

	#contacts h1 {
		color: #ffffff;
		font-weight: 200;
	}

	.d1 img{
		width: 90%;
		height: auto;
		float: center;
	}


}
