body{
background-color: #757575;
margin:0px;
font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}
p{
	margin:0;
}
a{
	color: #ffffff;
}

#menuContainer{
	height: 50px;
	width: 100%;
	background-color: #333333;
	position: fixed;
	margin-top: 0;
}
.menuButton{
	
	height: 50px;
	width: 14.28%;
	float: left;
	text-align: center;
	padding-top: 15px;
}

#header{
	height: auto;

	margin: 0;
	background-color: #815B89;
}
#header img{
	width:100%;
	height: auto;
}

 #computer{ 
 	padding-top: 10%;
 	float:center;
 	text-align: center;
 }
#container{
	height: 3000px;
	width:100%;
}

#sittning{
	height:18%;
	width:100%;
	background-color: #815B89;
}
#sittningv{
	height: 100%;
	width: 50%;
	float: left;
}
#sittningh{
	background-image: url("pics/träd.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;
	margin-top: 1%;
	margin-bottom: 2%;
	height: 100%;
	width: 50%;
	float: left;
}

#ada{
	height:18%;
	width:100%;
	background-color: none;
}
#sponsors{
	height:13%;
	width:100%;
	background-color: #ffffff;
}
#contacts{
	height:13%;
	width:100%;
	background-color: #333333;
}